.one-on-one {
  grid-column: 1 / 4;
  border-top: rgb(124, 175, 147) solid;
  padding: 2rem 10rem 0;
}

.one-on-one,
form {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
}

.one-on-one form {
  border: black 0.5px solid;
  padding: 2rem;
}

.one-on-one input[type="text"] {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.one-on-one textarea {
  margin: 1rem 0;
  resize: vertical;
}

.one-on-one input[type="submit"],
.one-on-one h3 {
  width: fit-content;
  align-self: center;
  cursor: pointer;
  border: none;
}

.one-on-one input[type="submit"] {
  padding: 0.5rem;
  background-color: green;
  color: white;
  color: white;
}

.one-on-one ul {
  margin-top: 1.5rem;
}
