.cohort-list {
  padding: 0 2rem;
  font-family: "Courier New", Courier, monospace;
}

.cohort-list h2 {
  text-align: center;
}

.cohort-list table {
  width: 100%;
}

.cohort-list tr {
  border-bottom: rgb(124, 175, 147) 0.2rem solid;
  height: 3rem;
  cursor: pointer;
  font-weight: 900;
}
