.stats-section {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stats-section div {
  margin: 0 auto;
}

.stats-section p {
  color: rgb(124, 175, 147);
}

.stats-section .show-green {
  color: green;
}
.stats-section .show-yellow {
  color: rgb(186, 186, 15);
}
.stats-section .show-red {
  color: rgb(163, 0, 0);
}
