
.cohortDiv {
    width: 400px;
    height: auto;
    font-family: 'Merriweather Sans', sans-serif;
}

.cohortHeader {
    text-align: center;
}

.cohorts {
    border-bottom: 1px solid #5c946f;
    padding: 0 0 10px 10px;
}