ul{
    display: block;
    list-style: none;
}
button{
    background:none;
    display: flex;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    border: 1px solid green;
    width: 30%;
}
button:hover{
    color: blue;
    border-bottom: 5px solid rgb(138, 127, 76);
    font-size: 110%;
    
}
 .cohortList{
    text-align: left;
}