

.studentListDiv {
    margin: 20px 40px;
    grid-column: 2;
    grid-row: 2;
}

.studentDivs {
    display: grid;
    row-gap: 10px;
}

.student {
    border: 2px solid #5c946f;
    display: grid;
    grid-template-columns: 180px 280px 280px;
    padding: 30px;
    min-height: 120px;
    max-width: 800px;
}

.studentListHeader {
    margin-bottom: 0;
}

.totalStudents {
    margin-top: 0;
    font-weight: 600;
}

.studentTotalSpan {
    color: #5c946f;
}

.studentMainInfo p,
h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 5px 0 0 0;
}

span {
    color: #5c946f;
    font-weight: 600;
}

.showMore {
    color: #5c946f;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px!important;
}

img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

svg.x {
    color: red;
    stroke-width: 3px;
    position: relative;
    top: 3px;
}

svg.check {
    color: green;
    stroke-width: 3px;
}


.studentDetails {
    display: grid;
    grid-template-columns: repeat(3, 280px);
}

.graduationTrack {
    text-align: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}