.form {
    grid-column: span 3;
    text-align: left;
    padding: 0px 35px 0px;  
  border: 2px solid black;
 
}
  
  
  .formButton {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    position: absolute;

  }
  .formButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.295);
    color: rgb(66, 66, 234);
    background-color: rgb(245, 245, 245);
  }
  

  
  .newform {
  border: 2px solid black; 
  padding: 20px;
  
}

   